*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


html {
  background: url("shovel+knight.png") left top no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

body {
  display: grid;
  grid-template-columns: auto 606px auto;
  grid-template-rows: 70px 606px 70px;
  justify-items: center;
  align-items: center;
  gap: 5px;
}

canvas {
  box-sizing: border-box;
  display: block;
  border: 3px solid black;
  grid-column: 2;
  grid-row: 2;
}

.setas {
  display: block;
  width: 60px;
  height: 60px;
}

#baixo {
  grid-column: 2;
  grid-row: 3;
}
#cima {
  grid-column: 2;
  grid-row: 1;
}
#dir {
  grid-column: 3;
  grid-row: 2;
  margin: 5px;
}
#esq {
  grid-column: 1;
  grid-row: 2;
  margin: 5px;
}